body{
font-family: "Noto Sans TC","Arial Rounded MT Bold",sans-serif;
margin:0;
padding:0;
transition:0.3s;
}

/* 主容器 */

.container{
max-width:700px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
}

/* 單字卡片 */

#card-section{
background:white;
padding:25px;
border-radius:16px;
box-shadow:0 6px 14px rgba(0,0,0,0.1);
margin-top:20px;
}

/* 單字 */

#word-text{
font-size:64px;
text-align:center;
margin:30px 0;
font-weight:bold;
cursor:pointer;
font-family:"Comic Sans MS","Arial Rounded MT Bold","Noto Sans TC",sans-serif;
transition:0.2s;
}

/* 點擊單字動畫 */

#word-text:active{
transform:scale(1.08);
}

/* 按鈕 */

button{
padding:10px 16px;
margin:6px;
border-radius:10

